/* Mobile ChatWindow.css */
.chatWindow {
    position: fixed;
    top: 0; /* 화면 상단에 고정 */
    left: 50%; /* 가로축 가운데 정렬을 위해 50% 이동 */
    transform: translateX(-50%); /* 정확히 가운데 정렬 */
    width: 430px; /* 고정된 너비로 설정 */
    height: 100%; /* 적절한 비율로 높이 설정 */
    /*background-color: #f9f9f9;*/
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    /*border-bottom-left-radius: 16px;*/
    /*border-bottom-right-radius: 16px;*/
    z-index: 1001;
    display: flex;
    flex-direction: column;
}

.chatHeader {
    background-color: #ffffff;
    color: #333333;
    padding: 16px;
    border-bottom: 2px solid #f3f3f3;
    /*border-bottom-left-radius: 16px;*/
    /*border-bottom-right-radius: 16px;*/
    display: flex;
    height: 80px;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: center;
}

.chatHeader h2 {
    font-size: 18px;
    margin: 0;
}

.closeButton {
    background: none;
    border: none;
    font-size: 20px;
    color: #999999;
    cursor: pointer;
}

.closeButton:hover {
    color: #666666;
}

.chatBody {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message {
    margin: 4px 0;
    padding: 10px;
    border-radius: 12px;
    background-color: #ffffff;
    color: #333333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 70%;
    align-self: flex-start;

}

.message.user {
    background-color: #d1e7ff;
    align-self: flex-end;
}

.myMessage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.yourMessage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inputbox {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.inputbox input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-right: 8px;
}

.inputbox button {
    padding: 10px 16px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.inputbox button:hover {
    background-color: #0056b3;
}
