* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: "Pretendard";
    font-weight: 400;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: #fcf7e1;*/
    background-color: #fff;
    width: 100dvw;
    height: 100dvh;
}

.left {
    width: 750px;
    background-color: aqua;
}

.view {
    /*width: 500px;*/
    width:430px;
    height: 100vh;
    border: 1px solid black;
    position: relative;
    overflow-y: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src: url('../public/fonts/Pretendard-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src: url('../public/fonts/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url('../public/fonts/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url('../public/fonts/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url('../public/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url('../public/fonts/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('../public/fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url('../public/fonts/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src: url('../public/fonts/Pretendard-Black.woff') format('woff');



}