* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    width: 100dvw;
    height: 100dvh;
}

.left {
    width: 750px;
    background-color: aqua;
}

.view {
    width: 500px;
    height: 100vh;
    border: 1px solid black;
    position: relative;
}